<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>customAlert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDFFF1C31C33834D006B0E12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFFF1DC1C33834D006B0E12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFFF1E71C33834D006B0E12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
